@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: "Press Start 2P", monospace;
  background-color: rgb(11, 48, 74);
  color: white
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes Fade{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.home-page, .exec-page{
    display: none;
}

.active{
    animation: Fade 0.5s ease-in;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    background-color: rgb(19, 108, 167);
}

.container2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:right;
    margin-right: 30px;
    gap: 15px;
}

.container1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 30px;
}

.logo{
    height: 100%;
}

.hcmus img{
    height: 95%;
}

.hcmut img{
    padding-top: 10px;
    height: 70%;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
    gap: 100px;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-size: 30px;
}

.btn button{
    background: rgba(35, 35, 35, 0.6);
    height: 100px;
    width: 400px;
    box-shadow: 0 4px 15px rgb(101, 100, 100);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn h1{
    font-family: "Press Start 2P", monospace;
    color: white;
    font-size: 40px;
    transition: all 0.3s ease;
}

.btn button:hover{
    background-color: grey;
}
.btn button:active{
    scale: 1.1;
}
.btn h1:hover{
    color: black;
}


.element-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 50px;
}

.parameter-container,.camera-container{
    height: 85%;
    border: 8px solid #3e161c;
    background-color: rgb(16, 23, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
    8px 0px 0px 0px #422b3a,
    16px 0px 0px 0px #23354b;
}
.parameter-container{
    width: 15%;
}

.parameter-container h2{
    font-size: 20px;
    padding-top: 10px;
    
}
.camera-container h2{
    padding-top: 10px;
    font-size: 20px;
}
.camera-container{
    width: 70%;
}

.back-btn button{
    height: 30px;
    width: 80px;
    background-color: rgb(16, 23, 37);
    border: solid 0.5px #3e161c;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.back-btn h1{
    font-family: "Press Start 2P", monospace;
    color: white;
    font-size: 10px;
    transition: all 0.3s ease;
}

.back-btn button:hover{
    background-color: grey;
}
.back-btn button:active{
    scale: 1.1;
}
.back-btn h1:hover{
    color: black;
}